/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    color: #333;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Header */
header {
    background-color: #333;
    padding: 20px 40px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo a {
    font-size: 24px;
    color: #fff;
    font-weight: bold;
}

nav .nav-links {
    display: flex;
    list-style: none;
}

nav .nav-links li {
    margin: 0 15px;
}

nav .nav-links a {
    color: #fff;
    font-size: 16px;
}

/* Hero Section */
.hero {
    height: 100vh;
    background-image: url("C:\\Users\\RAJESWARI\\Downloads\\WhatsApp Image 2024-12-21 at 8.42.34 AM.jpeg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgba(11, 68, 238, 0.948);
}

.hero .hero-content {
    max-width: 600px;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 30px;
}

.hero .btn-primary {
    padding: 12px 30px;
    background-color: #f8a72d;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
}

.hero .btn-primary:hover {
    background-color: #e67e22;
}

/* Featured Products */
.products {
    padding: 60px 20px;
    background-color: #f8f8f8;
    text-align: center;
}

.products h2 {
    font-size: 36px;
    margin-bottom: 40px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 30px; 
    /* flex-direction: row; */
}

.product {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.product img {
    width: 50%;
    height: 75%;
    margin-bottom: 20px;
    border-radius: 50%;
      
}

.product h3 {
    font-size: 24px;
    margin-bottom: 10px;
    
}

.product p {
    font-size: 18px;
    color: #f8a72d;
    margin-bottom: 20px;
}

.product .btn-secondary {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border-radius: 5px;
    font-size: 16px;
}

.product .btn-secondary:hover {
    background-color: #555;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 40px 20px;
    text-align: center;
}

footer .footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

footer .social-links {
    list-style: none;
    margin-top: 20px;
}

footer .social-links li {
    display: inline;
    margin: 0 10px;
}

footer .social-links a {
    color: #fff;
    font-size: 18px;
}

footer .social-links a:hover {
    color: #f8a72d;
}



